.App {

}

.page-height {
  min-height: calc(100vh - 40px);
}

.scroll-list {
  overflow-y: scroll;
  max-height: calc(100vh - 40px);
}

.pattern-bg {
  background-image: url("/images/pattern.svg");
  background-repeat: repeat;
  background-size: 20%;
}

.white {
  background-color: white;
}

.vertical-padded {
  padding-bottom: 3%;
  padding-top: 2%;
}

.width-cap {
  max-width: 25%;
  margin: auto;
}

.particle-bg {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  background-color: #F2F2F2;
}

.particle-window {
  position: relative;
  z-index: 1;
}

.highlight {
  color: #00b5ad;
  font-weight: bold;
}

.anim-in {
  opacity: 0;
  /* make things invisible upon start */
  animation: fadeLoad ease-in-out 0.5s;
  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  animation-fill-mode: forwards;
  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
}

@keyframes fadeLoad {
  from {
    opacity: 0;
    transform: translateY(15px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.challenge-icon {
  font-size: 2em;
  padding-right: 10px;
  color: #00b5ad;
}

.force-black-text {
  color: black;
}