.App {

}

.page-height {
  min-height: calc(100vh - 40px);
}

.scroll-list {
  overflow-y: scroll;
  max-height: calc(100vh - 40px);
}

.pattern-bg {
  background-image: url("/images/pattern.svg");
  background-repeat: repeat;
  background-size: 20%;
}

.white {
  background-color: white;
}

.vertical-padded {
  padding-bottom: 3%;
  padding-top: 2%;
}

.width-cap {
  max-width: 25%;
  margin: auto;
}