.homepage {
    min-height: 100vh;
    padding: 4rem !important;
}

.midz {
    position: relative;
    z-index: 1;
}

.title-header {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}

.homepage-content {
    font-size: 1.2em;
}

.homepage-content-block {
    font-size: 1.2em;
    padding: 4rem;
}

.home-icon {
    font-size: 10rem !important;
    height: auto !important;
}

.home-icon-parent {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.center-image {
    margin: auto;
    text-align: center;
    display: block !important;
}

.ga-img {
    margin: auto;
    width: 20%;
}

.floating-footer {
    position: fixed !important;
    bottom: 0;
    z-index: 10;
    left: 0;
    right: 0;
    margin: 0 !important;
    padding: 1rem;
    background-color: white !important;
    border-top: 2px solid #00b5ad !important;
    box-shadow: 0 -1px 2px 0 rgba(34, 36, 38, .15) !important;
    font-size: 1.5em !important;
}

.floater-text {
    display: inline-block;
    margin-top: 0.6rem;
    margin-right: 1rem;
}

.footer-img {
    height: 36px;
    width: 36px;
    margin-right: 0.75rem;
}