.homepage {
    min-height: 100vh;
    padding: 5% !important;
}

.midz {
    position: relative;
    z-index: 1;
}

.title-header {
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
}

.homepage-content {
    font-size: 1.2em;
}